<section class="contato-section py-5 text-center text-md-start">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna izquierda: Datos de contacto -->
            <div class="col-md-7">
                <h2>¿Te Interesa?</h2>
                <h2 class="mb-4">Entra en contacto con nuestro equipo.</h2>
                <div class="contact-info">
                    <div class="row mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto"><i class="bi bi-telephone"></i></div>
                        <div class="col text-start">(11)5976-1533</div>
                    </div>
                    <div class="row mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto"><i class="bi bi-whatsapp"></i></div>
                        <div class="col text-start">Vendas 1 - (11)95451-5822</div>
                    </div>
                    <div class="row align-items-center mb-4 mb-md-2">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto">
                            <i class="bi bi-clock"></i>
                        </div>
                        <div class="col text-start">Horário de Atención:<br>De Lunes a
                            Viernes, 09h a 18h;<br>Sábado, 09h a 14h
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1 d-block d-md-none"></div>
                        <div class="col-auto">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="col text-start">
                            Rua Scipião, 332,<br>Vila Romana, São Paulo/SP<br>CEP:
                            05047-060
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-block d-md-none mb-5"></div>
            <!-- Columna derecha: Texto y redes sociales -->
            <div class="col-md-5 text-center">
                <h2 class="section-title text-center mb-4">Comemore<br/><span class="highlight">brilhe</span><br/>conquiste</h2>
                <div class="social-box text-center text-md-end">

                    <p>Acesse nossas redes sociais!</p>
                    <a href="https://instagram.com/voilalocadora" target="_blank" class="social-link">
                        <i class="bi bi-instagram me-2"></i>voilalocadora
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>