<!-- Barra de búsqueda -->
<app-search></app-search>
<div class="separate"></div>
<app-sitemap [selectedCategory]="selectedCategory"></app-sitemap>
<div class="row mt-3 mx-auto container-store">
  <!-- Sidebar (Categorías) -->
  <div class="col-md-2">
    <div class="category-sidebar p-3 rounded">
      <ul class="list-unstyled">
        <li *ngFor="let category of categories">
          <a href="#" (click)="selectCategory(category); $event.preventDefault()" [class.active]="category.name === selectedCategory" class="category-link">
            {{ category.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contenido Principal (Productos) -->
  <div class="col-md-10">
    <h3>{{ selectedCategory }}</h3>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.image" class="card-img-top" [alt]="product.name">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">R$ {{ product.price }}</p>
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-outline-info btn-sm">Ver</button>
              <button class="btn bg-main btn-sm">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>